@model OnlineStore.Models.ViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Wlocker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/images/icons/wlockertitlelogo_removebg.png">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    

    <link href="~/Content/~/Content/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/elegant-font/html-css/style.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!--===============================================================================================-->
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">*@
</head>
<body class="animsition">

    <!-- Header -->
    <header class="header1">
        <!-- Header desktop -->
        <div class="container-menu-header">
            <div class="topbar">
                <div class="topbar-social">
                    <a href="https://facebook.com/" class="topbar-social-item fa fa-facebook"></a>
                    <a href="https://instagram.com/warythebutterfly" class="topbar-social-item fa fa-instagram"></a>
                    <a href="https://twitter.com/Thebutterrfly" class="topbar-social-item fa fa-twitter"></a>
                    <a href="https://gmail.com/" class="topbar-social-item fa fa-envelope"></a>
                    <a href="https://youtube.com/" class="topbar-social-item fa fa-youtube-play"></a>
                </div>

                <span class="topbar-child1">
                    Free shipping for standard order over ₦5000
                </span>

                <div class="topbar-child2">
                    @*<span class="topbar-email">
                        Wlocker@gmail.com.ng
                    </span>*@

                    <div class="topbar-language rs1-select2" style="color: #db344a">
                        NGR
                    </div>

                </div>
            </div>

            <div class="wrap_header">
                <!-- Logo -->
                <a href="/Home/index" class="logo">
                    <img src="~/Content/images/icons/wlockerlogo.png" alt="IMG-LOGO">
                </a>

                <!-- Menu -->
                <div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="/Home/Index" style="color: #db344a">Home</a>
                                @*<ul class="sub_menu">
                                    <li><a href="~/Content/index.html">Homepage V1</a></li>
                                    <li><a href="~/Content/home-02.html">Homepage V2</a></li>
                                    <li><a href="~/Content/home-03.html">Homepage V3</a></li>
                                </ul>*@
                            </li>

                            <li>
                                <a href="/Home/Product">Shop</a>
                            </li>

                            <li  >
                                <a href="/Home/Sale" style="color: #db344a">Sale</a>
                            </li>

                            

                            <li >
                                <a href="/Home/Blog">Blog</a>
                            </li>

                            <li>
                                <a href="/Home/About" style="color: #db344a">About</a>
                            </li>

                            <li style ="color: #db344a">
                                <a href="/Home/Contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
               

                <!-- Header Icon -->
                <div class="header-icons">
                    <div class="header-wrapicon1">
                        <img src="~/Content/images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON"><a></a>
                        @*<span class="header-icons-noti" style="background-color: #db344a">0</span>*@

                        <div class="header-cart header-dropdown">
                            <br />
                            <ul  class="header-cart-wrapitem">
                                <li>
                                    <a href="/Home/Account">My Account</a>
                                </li>
                              
                                <li><a href="/Home/Wishlist" id="wishContainer">My Wishlist</a></li>
                                <li><a href="#">My Orders</a></li>
                                

                            </ul>
                            <div class="header-cart-total">
                                <a href="#">Logout</a>
                                
                            </div>
                        </div>
                    </div>
                    <span class="linedivide1"></span>

                    <div class="header-wrapicon2">
                        <img src="~/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON" /><a></a> 
                        <span id="cartCount" class="header-icons-noti" style="background-color: #db344a">0</span>
                        


                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown">
                            <p id="nullCart"></p>
                            <ul id="cartContainer" class="header-cart-wrapitem">
                                

                            </ul>

                            <div class="header-cart-total">
                                Total: <span id="totalAmount"></span>
                            </div>
                                
                            <div class="header-cart-buttons">
                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="/Home/Cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        View Cart
                                    </a>
                                </div>

                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="~/Content/#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        Check Out
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                 

                   
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap_header_mobile">
            <!-- Logo moblie -->
            <a href="/Home/index" class="logo-mobile">
                <img src="~/Content/images/icons/wlockerlogo.png" alt="IMG-LOGO">
            </a>

            <!-- Button show menu -->
            <div class="btn-show-menu">
                <!-- Header Icon mobile -->
                <div class="header-icons-mobile">
                    <a href="~/Content/#" class="header-wrapicon1 dis-block">
                        <img src="~/Content/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                    </a>

                    <span class="linedivide2"></span>

                    <div class="header-wrapicon2">
                        <img src="~/Content/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <span class="header-icons-noti">0</span>

                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown">
                            <ul id="cartcontainermobile" class="header-cart-wrapitem">
                               
                             
                            </ul>

                            <div class="header-cart-total">
                                Total: $75.00
                            </div>

                            <div class="header-cart-buttons">
                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="~/Content/cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        View Cart
                                    </a>
                                </div>

                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="~/Content/#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        Check Out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="wrap-side-menu">
            <nav class="side-menu">
                <ul class="main-menu">
                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                        <span class="topbar-child1">
                            Free shipping for standard order over ₦5000
                        </span>
                    </li>

                    <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                       

                            <div class="topbar-language rs1-select2">
                                <select class="selection-1" name="time">
                                    <option>NGR</option>
                                    <@*option>EUR</option>*@
                                </select>
                            </div>
                        
                    </li>

                    <li class="item-topbar-mobile p-l-10">
                        <div class="topbar-social-mobile">
                            <i class="fa fa-address-book"></i>
                            <a href="https://facebook.com/" class="topbar-social-item fa fa-facebook"></a>
                            <a href="https://instagram.com/warythebutterfly" class="topbar-social-item fa fa-instagram"></a>
                            <a href="https://twitter.com/Thebutterrfly" class="topbar-social-item fa fa-twitter"></a>
                            <a href="https://gmail.com/" class="topbar-social-item fa fa-envelope"></a>
                            <a href="https://youtube.com/" class="topbar-social-item fa fa-youtube-play"></a>
                        </div>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="/Home/Index">Home</a>
                       
                        @*<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>*@
                    </li>

                    <li class="item-menu-mobile">
                        <a href="/Home/Product">Shop</a>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="/Home/Sale">Sale</a>
                    </li>

                   

                    <li class="item-menu-mobile">
                        <a href="/Home/Blog">Blog</a>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="/Home/About" >About</a>
                    </li>

                    <li class="item-menu-mobile">
                        <a href="/Home/Contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    @RenderBody();



    <!-- Footer -->
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    GET IN TOUCH
                </h4>

                <div>
                    <p class="s-text7 w-size27">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, Lagos, NG 12345 or call us on (+234) 708 399 2112
                    </p>

                    <div class="flex-m p-t-30">
                        <a href="https://facebook.com" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                        <a href="https://instagram.com/warythebutterfly" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                        <a href="https://twitter.com/Thebutterrfly" class="fs-18 color1 p-r-20 fa fa-twitter"></a>
                        <a href="https://gmail.com" class="fs-18 color1 p-r-20 fa fa-envelope"></a>
                        <a href="https://youtube.com" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                    </div>
                </div>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Categories
                </h4>

                <ul id="myList">
                    @foreach (var ctgry in Model.CategoryMenu) { 
                    
                        <li class="p-b-9">
                            <a href="/Home/categoriespage/@ctgry.ID" class="s-text7">
                                @ctgry.CategoryName
                            </a>
                        </li>
                    
                    }

                   
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Links
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="~/Content/#" class="s-text7">
                            Search
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="~/Content/#" class="s-text7">
                            About Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="~/Content/#" class="s-text7">
                            Contact Us
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="~/Content/#" class="s-text7">
                            Returns
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                <h4 class="s-text12 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-9">
                        <a href="~/Content/#" class="s-text7">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="~/Content/#" class="s-text7">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="~/Content/#" class="s-text7">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-9">
                        <a href="~/Content/#" class="s-text7">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="effect1 w-size9">
                        <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="Wlocker@gmail.com.ng">
                        <span class="effect1-line"></span>
                    </div>

                    <div class="w-size2 p-t-20">
                        <!-- Button -->
                        <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                            Subscribe
                        </button>
                    </div>

                </form>
            </div>
        </div>

        <div class="t-center p-l-15 p-r-15">
            <a href="~/Content/#">
                <img class="h-size2" src="~/Content/images/icons/paypal.png" alt="IMG-PAYPAL">
            </a>

            <a href="~/Content/#">
                <img class="h-size2" src="~/Content/images/icons/visa.png" alt="IMG-VISA">
            </a>

            <a href="~/Content/#">
                <img class="h-size2" src="~/Content/images/icons/mastercard.png" alt="IMG-MASTERCARD">
            </a>

            <a href="~/Content/#">
                <img class="h-size2" src="~/Content/images/icons/express.png" alt="IMG-EXPRESS">
            </a>

            <a href="~/Content/#">
                <img class="h-size2" src="~/Content/images/icons/discover.png" alt="IMG-DISCOVER">
            </a>

            <div class="t-center s-text8 p-t-20">
                Copyright © 2018 All rights reserved.
            </div>
        </div>
    </footer>



    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!-- Container Selection1 -->
    <div id="dropDownSelect1"></div>



    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/vendor/select2/select2.min.js"></script>
    <script type="text/javascript">
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Content/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="~/Content/vendor/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript">


        function addToCart(id) {
            
             console.log( $("#number").val())

             var num = $("#number").val();
             if (num == undefined || num == null || num == '') {
                 num = 1;
             }

            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: '/Cart/Add',
                data: {
                    "ItemId": id,
                    "Quantity": num

                },
                success: function (data) {
                    if (data == "0") {
                        swal("An error occurred", "", "error");
                    }
                    else {
                        swal(data, "is added to cart !", "success");
                    }
                    
                   
                    //alert(data);
                    //window.location.href = "/Home/Cart";
                },

                error: function (x, e) { }



            })

        }

        function addToWishlist(id) {

            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: '/Wishlist/Add',
                data: {
                    "ItemId": id

                },
                success: function (data) {
                    if (data == "0") {
                        swal("An error occurred", "", "error");
                    }
                    else {
                        swal(data, "is added to your Wishlist !", "success");
                    }


                    //alert(data);
                    //window.location.href = "/Home/Cart";
                },

                error: function (x, e) { }



            })

        }


        //$('.block2-btn-addcart').each(function () {
        //    var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        //    $(this).on('click', function () {
        //        swal(nameProduct, "is added to cart !", "success");
        //    });
        //});

        //$('.block2-btn-addwishlist').each(function () {
        //    var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        //    $(this).on('click', function () {
        //        swal(nameProduct, "is added to wishlist !", "success");
        //    });
        //});
    </script>

    <!--===============================================================================================-->
    <script src="~/Content/js/main.js"></script>

    <script>
        $(document).ready(function () {
            setInterval(function () { getCart(); }, 2000);
        });


        function getCart() {
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: '/Cart/Get',
                data: {
                  

                },
                success: function (data) {
                    console.log('cart', data)
                    if (data == "0") {
                        $("#cartContainer").html("You have not added any items to cart.")
                    }
                    if (data != null) {
                        if (data.length == 0) {
                            console.log(data.length)
                           
                        }
                        if (data.length > 0) {
                            var html = '';
                            var total = 0;
                            for (var i = 0; i < data.length; i++) {
                                html += '<li class="header-cart-item">';
                                html += '<a href="/Home/ProductDetail/' + data[i].ID + '"><div class="header-cart-item-img"></a>';
                                html += ' <img src="'+ data[i].ImageURL +'" alt="IMG">';
                                html += '</div>';
                                html += '<div class="header-cart-item-txt">';
                                html += ' <a href="/Home/Cart/" class="header-cart-item-name">';
                                html += data[i].Name;
                                html += ' </a>';
                                html += '<span class="header-cart-item-info">';
                                html += '₦' + data[i].Price.toLocaleString() + ' x ' + data[i].Quantity;
                                html += '</span>';
                                html += ' </div>';
                                html += ' </li>';

                                total = total + (data[i].Price * data[i].Quantity);
                            }
                            $("#totalAmount").text('₦' + total.toLocaleString())
                            $("#cartcontainermobile").html(html);
                            $("#cartContainer").html(html);
                            $("#cartCount").text(data.length);
                           //  $("#number").text
                        }
                    }
                },

                error: function (x, e) { }



            })
        }



    </script>
</body>
</html>
