<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Wlocker · Admin</title>
    <link rel="icon" type="image/png" href="~/Content/images/icons/wlockertitlelogo.png" />
    <!-- Bootstrap core CSS -->



    <link href="~/Content/bootstrap.mini.css" rel="stylesheet" />
    <style>
    </style>
    <!-- Custom styles for this template -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-white flex-md-nowrap p-0 shadow">
        <a href="/Home/index" class="logo"><img src="~/Content/images/icons/wlockerlogo.png" alt="IMG-LOGO" width="200">@*<i style="color: #ef2a5c" class="fas fa-shopping-cart"></i>*@</a>
        @*<input type="text" class="form-control w-75" id="myInput" style="border: 2px solid; border-color: #f2f2f2" placeholder="Search" aria-label="Search" />*@
        <ul class="navbar-nav px-3" style="font-size:medium">
            <li class="nav-item text-nowrap">
                <a class="nav-link" style="color: #ef2a5c" href="/Account/Logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-white sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column" style="font-size:medium">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Home/Dashboard">
                                <br /><span class="fa fa-home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link active" href="/Home/Dashboard">
                                <br /><span class="fa fa-home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="/Categories/categories">
                                <span class="fa fa-shopping-bag"></span>
                                Categories
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Items/Item">
                                <span class="fa fa-shopping-cart" ></span>
                                Items
                            </a>
                        </li>


                    </ul>

                    

                </div>

            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                @RenderBody()





            </main>
        </div>
    </div>
    <footer>
        <br /><br />
        <div style="text-align:center">
        <a href=" /Home/Index" style="text-align:center;  !important; color:#db344a;"><b>Click here to go to Wlocker.com</b></a>
        </div>
        
    </footer>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>*@
    @*<script src="dashboard.js"></script>*@

</body>
</html>

